<div class="row">
  <template [ngIf]="currentPlayerIndex.length>1">
    {{'YOUR_DOTS' | translate}}&nbsp;<template ngFor let-playerIndex [ngForOf]="currentPlayerIndex"><span [ngStyle]="{'color': colors[playerIndex]}" class="glyphicon glyphicon-stop"></span></template>
  </template>
  <template [ngIf]="currentPlayerIndex.length==1">
    {{'YOUR_DOT' | translate}}&nbsp;<span [ngStyle]="{'color': colors[currentPlayerIndex[0]]}" class="glyphicon glyphicon-stop"></span>
  </template>
  <template [ngIf]="currentPlayerIndex.length==0">
    {{'NONE_YOUR_DOTS' | translate}}
  </template>
</div>
<div class="row">
  <canvas #myCanvas width="842px" height="597px" style="border:1px solid #d3d3d3;">
  </canvas>
</div>
<div class="row">
  <h4>
    {{'SCORES' | translate}}
    <template ngFor let-score [ngForOf]="game.data.scores" let-scoreIndex="index">
      <span [ngStyle]="{'color': colors[scoreIndex]}">{{score}}</span><span *ngIf="scoreIndex < game.data.scores.length-1">&nbsp;:</span>
    </template>
  </h4>
</div>
