<div class="row">
  <template [ngIf]="gameDefinition==null">
    {{'PLEASE_WAIT' | translate}}
  </template>
  <template [ngIf]="gameDefinition!=null">
    <h1>{{'INVITE_USER_TO_PLAY_GAME' | translate: gameDefinitionTranslated}}</h1>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{'CREATE_GAME' | translate}}</h3>
      </div>
      <div class="panel-body">
        <h4>{{'USERS' | translate}}</h4>
        <table class="table">
          <colgroup>
            <col width="50px"/>
            <col width="50%"/>
            <col width="50%"/>
          </colgroup>
          <tr *ngFor="let user of users">
            <td>
              <div style="width: 50px; height: 50px;">
                <app-user-avatar [user]="user"></app-user-avatar>
              </div>
            </td>
            <td>{{user.userName}}</td>
            <td><button (click)="inviteUser(user)">{{'INVITE' | translate}}</button></td>
          </tr>
        </table>
      </div>
      <div class="panel-footer">
        <pagination
          *ngIf="usersTotalCount > usersTop"
          [itemsPerPage]="usersTop"
          [totalItems]="usersTotalCount"
          [rotate]="true"
          [maxSize]="10"
          [(ngModel)]="usersCurrentPage"></pagination>
      </div>
    </div>
  </template>
</div>
