<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Games on paper</a>
    </div>
    <ul class="nav navbar-nav" *ngIf="user != null">
      <li dropdown>
        <a href="#" class="dropdown-toggle" dropdownToggle>Create game</a>
        <ul class="dropdown-menu" dropdownMenu>
          <li class="dropdown-header">Invite user to play</li>
          <li *ngFor="let gameToBeCreated of gamesToBeCreated">
            <a [routerLink]="['/creategame/'+gameToBeCreated.id]">
              <span><img class="img-circle" width="24" height="24" src="{{gameToBeCreated.icon}}"/></span> {{gameToBeCreated.name}}
            </a>
          </li>
          <li *ngIf="gamesToBeCreatedTotalCount>gamesToBeCreatedTop"><a href="#">Show more</a></li>
        </ul>
      </li>
      <li dropdown>
        <a href="#" class="dropdown-toggle" dropdownToggle>Invitations: <span class="glyphicon glyphicon-arrow-down"></span><span class="badge">{{incomingInvitationsTotalCount}}</span> <span class="glyphicon glyphicon-arrow-up"></span><span class="badge">{{outgoingInvitationsTotalCount}}</span></a>
        <ul class="dropdown-menu" dropdownMenu>
          <li class="dropdown-header">Incoming invitations</li>
          <li *ngFor="let incomingInvitation of incomingInvitations">
            <a href="#">
              <img src="{{incomingInvitation.players[0].userPic}}" class="img-circle" width="50" height="50"/>
              {{incomingInvitation.players[0].userName}} invited you to play {{incomingInvitation.gameDefinition.name}}!
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span></button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
            </a>
          </li>
          <li *ngIf="incomingInvitationsTotalCount>incomingInvitationsTop"><a href="#">Show more</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Outgoing invitations</li>
          <template ngFor let-outgoingInvitation [ngForOf]="outgoingInvitations">
            <template ngFor let-outgoingPlayer [ngForOf]="outgoingInvitation.players | slice: 1">
              <li>
                <a href="#">
                  <img src="{{outgoingPlayer.userPic}}" class="img-circle" width="50" height="50"/>
                  {{outgoingPlayer.userName}} invited to play {{outgoingInvitation.gameDefinition.name}} with you!
                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
                </a>
              </li>
            </template>
          </template>
          <li *ngIf="outgoingInvitationsTotalCount>outgoingInvitationsTop"><a href="#">Show more</a></li>
        </ul>
      </li>
      <li dropdown>
        <a href="#" class="dropdown-toggle" dropdownToggle>Active Games <span class="badge">{{activeGamesTotalCount}}</span></a>
        <ul class="dropdown-menu" dropdownMenu>
          <template ngFor let-game [ngForOf]="activeGames | groupBy: 'gameDefinition.name'">
            <li class="dropdown-header">{{game.key}}</li>
            <li *ngFor="let activeGame of game.value">
              <a href="#">
                <template ngFor let-gamePlayer [ngForOf]="activeGame.players" let-gamePlayerIndex="index">
                  <img src="{{gamePlayer.userPic}}" class="img-circle" width="50" height="50"/>
                  <span class="label" [ngClass]="{'label-success': (gamePlayerIndex == activeGame.winner), 'label-default':(gamePlayerIndex != activeGame.winner)}">{{gamePlayer.userName}}</span>
                </template>
              <!--  {{activeGame.userName}} <label class="label" [ngClass]="{'label-default': activeGame.yourScore==activeGame.opponentScore, 'label-success': activeGame.yourScore>activeGame.opponentScore, 'label-danger': activeGame.yourScore<activeGame.opponentScore}">{{activeGame.yourScore}}:{{activeGame.opponentScore}}</label>-->
                <button type="button" class="btn btn-default" (click)="gameService.finish(activeGame)"><span class="glyphicon glyphicon-remove"></span>Finish</button>
                <span *ngIf="activeGame.finishedBy && activeGame.finishedBy!=user.username">
                  {{activeGame.finishedBy}} wants to finish the game. Do you agree?
                  <button type="button" class="btn btn-default" (click)="gameService.finishApprove(activeGame)"><span class="glyphicon glyphicon-ok"></span>Ok</button>
                  <button type="button" class="btn btn-default" (click)="gameService.finishCancel(activeGame)"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
                </span>
                <span *ngIf="activeGame.finishedBy && activeGame.finishedBy==user.username">
                  You want to finish the game. Waiting for opponent decision.
                  <button type="button" class="btn btn-default" (click)="gameService.finishCancel(activeGame)"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
                </span>
              </a>
            </li>
            <li *ngIf="activeGamesTotalCount>10"><a href="#">Show more</a></li>
            <li class="divider"></li>
          </template>
        </ul>
      </li>
      <li dropdown>
        <a href="#" class="dropdown-toggle" dropdownToggle>Finished Games <span class="badge">{{finishedGamesTotalCount}}</span></a>
        <ul class="dropdown-menu" dropdownMenu>
          <!--[ngfor]="let (key, games) of finishedGames | groupBy: 'gameName'"-->
          <template ngFor let-game [ngForOf]="finishedGames | groupBy: 'gameDefinition.name'">
            <li class="dropdown-header">{{game.key}}</li>
            <li *ngFor="let finishedGame of game.value">
              <a href="#">
                <template ngFor let-gamePlayer [ngForOf]="finishedGame.players" let-gamePlayerIndex="index">
                  <img src="{{gamePlayer.userPic}}" class="img-circle" width="50" height="50"/>
                  <span class="label" [ngClass]="{'label-success': (gamePlayerIndex == finishedGame.winner), 'label-default':(gamePlayerIndex != finishedGame.winner)}">{{gamePlayer.userName}}</span>
                </template>
               <!-- {{finishedGame.userName}} <label class="label" [ngClass]="{'label-default': finishedGame.yourScore==finishedGame.opponentScore, 'label-success': finishedGame.yourScore>finishedGame.opponentScore, 'label-danger': finishedGame.yourScore<finishedGame.opponentScore}">{{finishedGame.yourScore}}:{{finishedGame.opponentScore}}</label> @ {{finishedGame.endDate | date:'yyyy-MM-dd HH:mm:ss Z'}}-->
              </a>
            </li>
            <li class="divider"></li>
          </template>
          <li *ngIf="finishedGamesTotalCount>10"><a href="#">Show more</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="user!=null">
      <li><a class="navbar-brand"><strong><span><img class="img-circle" width="24" height="24" src="{{user.userPic}}"/></span> {{user.userName}}</strong></a></li>
      <li><a [routerLink]="['/login']" class="navbar-brand"><strong><span class="glyphicon glyphicon-log-out"></span> Logout</strong></a></li>
    </ul>
  </div>
</nav>

<div class="container">
   <alert></alert>     
   <app-confirmation></app-confirmation>    
   <router-outlet></router-outlet>
</div>
