<template [ngIf]="currentUser != null && activeGame != null">
  <table>
    <tr>
      <template [ngIf]="withYourself">
        <td style="white-space: nowrap; overflow: hidden">
          {{'PLAYING_WITH_YOURSELF' | translate}}&nbsp;
        </td>
      </template>
      <template [ngIf]="!withYourself">
        <td style="white-space: nowrap; overflow: hidden">
          {{'PLAYING_WITH' | translate}}&nbsp;
        </td>
        <template ngFor let-player [ngForOf]="activeGame.players">
          <template [ngIf]="player.id != currentUser.id">
            <td>
              <div style="width: 50px; height: 50px;">
                <app-user-avatar [user]="player"></app-user-avatar>
              </div>
            </td>
            <td>
              <label class="label label-default">{{player.userName}}</label>
            </td>
          </template>
        </template>
      </template>
      <td>
        <a [routerLink]="['/game/'+activeGame.id]" class="btn btn-default">
          {{'GO_TO' | translate}}
        </a>
      </td>
      <td *ngIf="!activeFinishRequests[activeGame.id]" >
        <button type="button" class="btn btn-default" (click)="finish(activeGame)"><span class="glyphicon glyphicon-remove"></span>{{'FINISH' | translate}}</button>
      </td>
    </tr>
  </table>
  <template [ngIf]="activeFinishRequests[activeGame.id] != null">
    <table>
      <template [ngIf]="activeFinishRequests[activeGame.id].createdBy.id != currentUser.id">
        <tr>
          <td style="white-space: nowrap; overflow: hidden">
            {{'USER_WANTS_TO_FINISH' | translate:activeFinishRequests[activeGame.id].createdBy}}
          </td>
          <td>
            <button type="button" class="btn btn-default" (click)="finishApprove(activeFinishRequests[activeGame.id])"><span class="glyphicon glyphicon-ok"></span>{{'ACCEPT' | translate}}</button>
          </td>
          <td>
            <button type="button" class="btn btn-default" (click)="finishDecline(activeFinishRequests[activeGame.id])"><span class="glyphicon glyphicon-remove"></span>{{'DECLINE' | translate}}</button>
          </td>
        </tr>
      </template>
      <template [ngIf]="activeFinishRequests[activeGame.id].createdBy.id == currentUser.id">
        <tr>
          <td style="white-space: nowrap; overflow: hidden">
            {{'YOU_WANT_TO_FINISH' | translate}}
          </td>
          <td>
            <button type="button" class="btn btn-default" (click)="finishDecline(activeFinishRequests[activeGame.id])"><span class="glyphicon glyphicon-remove"></span>{{'CANCEL' | translate}}</button>
          </td>
        </tr>
      </template>
    </table>
  </template>
</template>
