<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{'CREATE_GAME' | translate}}</h3>
    </div>
    <div class="panel-body">
      <h4>{{'INVITE_USERS_TO_PLAY' | translate}}</h4>
      <table class="table">
        <tr *ngFor="let gameToBeCreated of gamesToBeCreated">
          <td><a href="creategame/{{gameToBeCreated.id}}">{{gameToBeCreated.name | translate}}</a></td>
        </tr>
      </table>
    </div>
    <div class="panel-footer">
     <pagination
        *ngIf="gamesToBeCreatedTotalCount > gamesToBeCreatedTop"
        [itemsPerPage]="gamesToBeCreatedTop"
        [totalItems]="gamesToBeCreatedTotalCount"
        [rotate]="true"
        [maxSize]="10"
        [(ngModel)]="gamesToBeCreatedCurrentPage"></pagination>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{'INCOMING_INVITATIONS' | translate}}</h3>
    </div>
    <div class="panel-body">
      <h4>{{'INCOMING_INVITATIONS_DESCRIPTION' | translate}}</h4>
      <table class="table">
        <tr *ngFor="let incomingInvitation of incomingInvitations">
          <td>
            <app-new-game-row [newGame]="incomingInvitation"></app-new-game-row>
          </td>
        </tr>
      </table>
    </div>
    <div class="panel-footer">
      <pagination
        *ngIf="incomingInvitationsTotalCount > incomingInvitationsTop"
        [itemsPerPage]="incomingInvitationsTop"
        [totalItems]="incomingInvitationsTotalCount"
        [rotate]="true"
        [maxSize]="10"
        [(ngModel)]="incomingInvitationsCurrentPage"></pagination>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{'OUTGOING_INVITATIONS' | translate}}</h3>
    </div>
    <div class="panel-body">
      <h4>{{'OUTGOING_INVITATIONS_DESCRIPTION' | translate}}</h4>
      <table class="table">
        <tr *ngFor="let outgoingInvitation of outgoingInvitations">
          <td>
            <app-new-game-row [newGame]="outgoingInvitation"></app-new-game-row>
          </td>
        </tr>
      </table>
    </div>
    <div class="panel-footer">
      <pagination
        *ngIf="outgoingInvitationsTotalCount > outgoingInvitationsTop"
        [itemsPerPage]="outgoingInvitationsTop"
        [maxSize]="10"
        [rotate]="true"
        [totalItems]="outgoingInvitationsTotalCount"
        [(ngModel)]="outgoingInvitationsCurrentPage"></pagination>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{'ACTIVE_GAMES' | translate}}</h3>
    </div>
    <div class="panel-body">
      <h4>{{'ACTIVE_GAMES_DESCRIPTION' | translate}}</h4>
      <table class="table">
        <template ngFor let-activeGameGrouped [ngForOf]="activeGames  | groupBy: 'gameDefinition.name'">
          <tr>
            <td><h5>{{activeGameGrouped.key | translate}}</h5></td>
          </tr>
          <template ngFor let-activeGame [ngForOf]="activeGameGrouped.value">
            <tr>
              <td>
                <app-active-game-row [activeFinishRequests]="activeFinishRequests" [activeGame]="activeGame"></app-active-game-row>
              </td>
            </tr>
          </template>
        </template>
      </table>
    </div>
    <div class="panel-footer">
      <pagination
        *ngIf="activeGamesTotalCount > activeGamesTop"
        [itemsPerPage]="activeGamesTop"
        [maxSize]="10"
        [rotate]="true"
        [totalItems]="activeGamesTotalCount"
        [(ngModel)]="activeGamesCurrentPage"></pagination>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{'FINISHED_GAMES' | translate}}</h3>
    </div>
    <div class="panel-body">
      <h4>{{'FINISHED_GAMES_DESCRIPTION' | translate}}</h4>
      <table class="table">
        <template ngFor let-finishedGameGrouped [ngForOf]="finishedGames  | groupBy: 'gameDefinition.name'">
          <tr>
            <td><h5>{{finishedGameGrouped.key | translate}}</h5></td>
          </tr>
          <template ngFor let-finishedGame [ngForOf]="finishedGameGrouped.value">
            <tr>
              <td>
                <app-finish-game-row [finishedGame]="finishedGame"></app-finish-game-row>
              </td>
            </tr>
          </template>
        </template>
      </table>
    </div>
    <div class="panel-footer">
      <pagination
        *ngIf="finishedGamesTotalCount > finishedGamesTop"
        [itemsPerPage]="finishedGamesTop"
        [maxSize]="10"
        [rotate]="true"
        [totalItems]="finishedGamesTotalCount"
        [(ngModel)]="finishedGamesCurrentPage"></pagination>
    </div>
  </div>
</div>
